* {
	font-size: 20px;
	font-family: 'Times New Roman'; 
	box-sizing: border-box;
	text-align: center;
}

table {
	table-layout: fixed; 
	width: 600px;
}

table td {
	width: 200px;
	height: 75px;
	padding: 5px;
	text-overflow: ellipsis;
	overflow: hidden;
}

table td[colspan = "3"] {
	cursor: pointer;
	background-color:rgb(212, 209, 209);
}

table td input {
	margin: 0 5px 0 5px;
	width: 180px;
}